<div>
  <mat-toolbar color="primary" class="top_toolbar">
    
    <span>Notes  App</span>
    <button mat-raised-button color="accent">Category</button>
    <button mat-raised-button color="accent">Topic</button>
    <button mat-raised-button color="accent">Notes</button>
    
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>

  <mat-card>
    <router-outlet></router-outlet>    
  </mat-card>
  
</div>


