/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.top_toolbar span {
    margin-right: 20px;
}

.top_toolbar  .mat-raised-button {
    margin-right: 20px;
}

.notes-create-form {
    display: flex;
    flex-direction: column;
  }
  
  .notes-create-form {
    width: 50%;
  }
